<div class="container">
    <div class="row">
    	<div class="about-1">
    		<h4>非営利のファッションコーディネート投稿サイト<br>
    		MAGEnta</h4>
            <div class="text1">自分の好きなコーディネートが見られ、投稿もできるサイトです。</div>
    	</div>
    	<div class="about-2">
    		<h4>様々なユーザのコーディネートが見られる</h4>
    		<div class="text1"></div>
    	</div>
    	<div class="about-3">
    		<h4>一度に複数のコーディネートが投稿できる</h4>
    		<div class="text1"></div>
    	</div>
    	<div class="about-4">
    		<h4>自分の好みのコーディネートを探せる</h4>
    		<div class="text1"></div>
    	</div>
    </div>
</div>