<h1>Users#edit</h1>



<!-- 年齢と性別選択のプルダウンこれ足す　:selected=>@user.age-->
<!--年齢のプルダウン
  <div class="field">
    <%= f.label :height %><br />
    <%= f.select :height,["10's or Under","Early 20's","Late 20's","Early 30's","Late 30's","40's or Over"], autofocus: true, autocomplete: "height" %>
  </div>
-->
<p>Find me in app/views/users/edit.html.erb</p>
