<div class="container">
	<div class="row">

		<% codes.each do |code| %>
			<div class="col-sm-4">
				<% if code.photos.attached? %>
					<% code.photos.count.times do |i| %>
					    <%= link_to image_tag(code.photos[i], size: '200x200'), code_path(code.id) %><br>
					<% end %>
				<% end %>
				    <%= code.title %><br>

				    <!-- tag -->
				<% code.tags.each do |t| %>
				    <%= link_to t.tagname, root_path(tag_id: t.id) %><br>
				<% end %>
			</div>
			<p></p>
		<% end %>
	</div>
</div>