<div class="container">
		<h1>Ranking</h1>
	<div class="row">

		<% @mv.each.with_index(1) do |rank, n| %>
			<div class="col-sm-4">
			    <h3 class="fav">Rank.No. <%= "#{n}" %></h3><br>
			    <%= rank.impressions_count %>
			    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><br>
			    <% if rank.photos.attached? %>
			    <ul class="bxslider">
					<% rank.photos.count.times do |i| %>
						<div class="codephoto3"><%=link_to image_tag(rank.photos[i], size: '260x340'),code_path(rank.id) %></div>
				    <% end %>
				</ul>
				<% end %>

				<br>
		    </div>
		<% end %>
	</div>
</div>
